<footer class="footer">
    <div class="footer__container">
        <div class="footer__inner">
            <img loading="lazy" src="public/imgs/header/logo.svg" alt="Логотип Краб Системы" class="logo footer__logo">
            <div class="footer__contacts">
                <p class="footer__contacts footer__contacts--adress">
                    <img loading="lazy" src="public/imgs/header/map-marker.svg" alt="Знак локации"
                        class="header__contacts-img">
                    Москва, ул. Лениниа, д. 25
                </p>
                <p class="footer__contacts footer__contacts--adress"><img loading="lazy"
                        src="public/imgs/header/phone.svg" alt="Иконка телефона" class="header__contacts-img">
                    8-985-344-76-46
                </p>
            </div>
        </div>
    </div>
</footer>