<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Краб Система</title>
    <!-- SETTINGS -->
    <link href="public/css/settings/normalize.css" rel="stylesheet">
    <link href="public/css/settings/main.css" rel="stylesheet">
    <!-- Components -->
    <link href="public/css/components/greenBtn/btn.css" rel="stylesheet">
    <link href="public/css/components/menuStatus/menu.css" rel="stylesheet">
    <link href="public/css/components/dropdown/dropdown.css" rel="stylesheet">
    <!-- HEADER -->
    <link href="public/css/header/header.css" rel="stylesheet">
    <link href="public/css/header/logo/logo.css" rel="stylesheet">
    <link href="public/css/header/burger/burger.css" rel="stylesheet">
    <!-- MAIN -->
    <link href="public/css/main/main.css" rel="stylesheet">
    <link href="public/css/main/banner/banner.css" rel="stylesheet">
    <link href="public/css/main/benefits/benefits.css" rel="stylesheet">
    <link href="public/css/main/lists/lists.css" rel="stylesheet">
    <link href="public/css/main/products/products.css" rel="stylesheet">
    <link href="public/css/main/advantages/advantages.css" rel="stylesheet">
    <link href="public/css/main/about/about.css" rel="stylesheet">
</head>