<main class="main">
    <section class="banner">
        <div class="banner__container">
            <div class="banner__inner">
                <h1 class="banner__title">Краб - система</h1>
                <h3 class="banner__subtitle">Для быстровозводимых<br>каркасных конструкций</h3>
                 <button class="consultation banner__btn">Получить консультацию</button>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="benefits__container">
            <div class="benefits__inner">
                <h2 class="benefits__title">ПРЕИМУЩЕСТВА СИСТЕМЫ</h2>
                <ul class="list benefits__list">
                    <li class="item benefits__item">
                        <img src="public/imgs/main/benefits/bodybuilding.svg" alt="Иконка списка" class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Высокая прочность<br>жёсткость и надёжность</p>
                            <p class="item--body benefits__item--body">По прочности  соединение с помощью<br>краб-системы ничем не уступает сварке</p>
                        </div>
                    </li>
                    <li class="item benefits__item">
                        <img src="public/imgs/main/benefits/piggy.svg" alt="Иконка списка" class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Низкая стоимость</p>
                            <p class="item--body benefits__item--body">Цена конструкции относительна низка, так как:<br> 
                                • Вам не нужно использовать сварочный аппарат;<br>
                                • работу Вы можете сделать своими руками</p>
                        </div>
                    </li>
                    <li class="item benefits__item">
                        <img src="public/imgs/main/benefits/cycle.svg" alt="Иконка списка" class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Возможность многоразового<br> использования</p>
                            <p class="item--body benefits__item--body">Система соединения позволяет перестроить<br> 
                                конструкцию – уменьшить, увеличить размеры</p>
                        </div>
                    </li>
                    <li class="item benefits__item">
                        <img src="public/imgs/main/benefits/montage.svg" alt="Иконка списка" class="item--img benefits__item--img">
                        <div class="item--text benefits__item--text">
                            <p class="item--title benefits__item--title">Простота монтажа</p>
                            <p class="item--body benefits__item--body">Для выполнения работ Вам не требуется<br>
                                специальных знаний, Краб-система<br>
                                закрепляется при помощи болтов и гаек </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="products__container">
            <div class="products__inner">
                <h2 class="products__title">ВСЕГДА В НАЛИЧИИ</h2>
                <div class="products__wrapper">
                    <% for(key in products) {%>
                    <div class="products__item">
                        <img src="/public/imgs/main/products/crab_1.jpg" alt="Фото изделия">
                        <div class="products__text">
                            <p class="products__text__title"></p>
                            <div class="products__price">
                                <p class="products__price--actual"> <% products[key].price %> 20 руб/комп</p>
                                <form action="" class="products-form">
                                    <input type="text" value="0" class="products-form--value">
                                    <p class="products-form--text">комп.</p>
                                    
                                </form>
                                <button type="submit" class="products-form--submit">Заказать</button>
                            </div>
                            
                        </div>
                    </div>
                    <% } %>
                </div>
                
            </div>
        </div>
    </section>
</main>