<section class="application" id="applicat">
    <div class="application__container">
        <div class="application__inner">
            <div class="application__wrapper">
                <div class="application__top">
                    <h2 class="application__top--title">ОСТАВИТЬ ЗАВЯВКУ</h2>
                    <p class="item--body application__top--subtitle">НА РАСЧЕТ СТОИМОСТИ</p>
                </div>
                <div class="application__body">
                    <form action="" class="application__form">
                        <input aria-label="Ввод номера телефона" type="text" placeholder="Номер телефона"
                            class="application__form--tel">
                        <input aria-label="Ввод номера email" type="text" placeholder="E-mail"
                            class="application__form--email">
                        <button type="submit" class="consultation application__sub">Заказать расчёт цены</button>
                        <div class="application__form--footer">
                            <input aria-label="Подтверждение соглашения" type="checkbox"
                                class="application__form--check">
                            <p class="application__form--agreement">Соглашаюсь с
                                <span class="application__form--line">условиями передачи данных</span></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>