<section class="banner">
<img src="/public/imgs/main/banner.webp" width="0" height="0" loading="lazy" style="display: none" alt="banner image">
    <div class="banner__container">
        <div class="banner__inner">
            <h1 class="banner__title">Краб - система</h1>
            <h2 style="padding: 0!important; margin: 0!important;"></h2>
            <h3 class="banner__subtitle">Для быстровозводимых<br>каркасных конструкций</h3>
            <button class="consultation banner__btn">Получить консультацию</button>
        </div>
    </div>
</section>