<section class="partners" id="partner">
    <div class="partners__container">
        <h2 class="partners__title">НАШИ ПАРТНЕРЫ</h2>
        <ul class="partners__list">
            <li class="partners__item"><img src="../../public/imgs/main/partners/sev.webp" loading="lazy" alt="Северсталь" width="384" height="126" class="partners__img"></li>
            <li class="partners__item"><img src="../../public/imgs/main/partners/zavod.webp" loading="lazy" alt="Завод теплиц" width="410" height="98" class="partners__img"></li>
            <li class="partners__item"><img src="../../public/imgs/main/partners/green.webp" loading="lazy" alt="Гринхаус" width="322" height="100" class="partners__img"></li>
        </ul>
    </div>
</section>