<section class="products" id="product">
    <div class="products__container">
        <div class="products__inner">
            <h2 class="products__title">ВСЕГДА В НАЛИЧИИ</h2>
            <div class="products__wrapper">
                <% for(key in prod) {%>
                    <div class="products__item">
                        <img loading="lazy" width="302" height="194" src="<%= prod[key].photo %>" alt="Фото изделия">
                        <div class="products__text">
                            <p class="products__text__title"><%= prod[key].name %></p>
                            <div class="products__price">
                                <p class="products__price--actual"><%= prod[key].price %> руб/комп</p>
                                <form action="" class="products-form">
                                    <input type="text" aria-label="количество продукта" for="products-form" aria-labelledby="Выбранное количество продукта компании" value="0" class="products-form--value">
                                    <p class="products-form--text">комп.</p>
                                </form>
                                <button type="submit" class="products-form--submit">Заказать</button>
                            </div>
                        </div>
                    </div>
                    <% } %>

        </div>
    </div>
</section>