<section class="reviews" id="review">
    <div class="reviews__container">
        <h2 class="reviews__title">ОТЗЫВЫ КЛИЕНТОВ</h2>
        <ul class="reviews__list">
                <% for(key in rev) {%>
                <li class="reviews__item">
                    <img src="<%= rev[key].img %>" loading="lazy" alt="Клиент <%= rev[key].title %>" class="reviews__img">
                    <div class="reviews__body">
                        <p class="reviews__name"><%= rev[key].title %></p>
                        <p class="reviews__text"><%= rev[key].text %></p>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>
</section>