.header {
    width: 100vw;
    position: fixed;
    background: #ffffff;
    box-shadow: 0rem 0.25rem 0.5rem rgba(79, 79, 79, 0.14);

    &__inner {
        padding: 1.75rem 0rem;
        display: flex;
        align-items: center;

        @media (max-width: 768.98px) {
            padding: 0.625rem 0rem;
        }
    }

    &__contacts {
        &-headblock {
            display: flex;
            white-space: nowrap;
        }

        &-location {
            flex: 0 0 20%;
            height: 17px;
            width: 12px;
            object-fit: contain;
        }
    }
}