.logo{
    display: block;
    width: 13.75rem;
    height: 3.375rem;
    margin-right: 1.125rem;
    object-fit: contain;
    @media(max-width: 1440.98px){
        width: calc(105px + (220 - 105) * ((100vw - 320.98px) / 1280))!important;
        height: calc(26px + (54 - 26) * ((100vw - 320.98px) / 1280))!important; 
    }
    @media(max-width:768.98px){
        margin-right: 0.5rem;
    }
}