.header {
    width: 100vw;
    position: fixed;
    background: #ffffff;
    box-shadow: 0rem 0.25rem 0.5rem rgba(79, 79, 79, 0.14);

    &__inner {
        padding: 1.75rem 0rem;
        display: flex;
        align-items: center;
        @media(max-width:991.98px){
            justify-content: space-between;
        }
        @media (max-width: 768.98px) {
            padding: 0.625rem 0rem;
        }
    }

    &__contacts {
        display: flex;
        @media(max-width:1200.98px){
            display: block;
        }
        @media(max-width:991.98px){
            
            margin: 0 auto;
            margin-top: 2rem;
        }
        &-block{
            display: flex;
            @media(max-width:991.98px){ 
                margin-bottom: 1rem;
            }
        }
        &-block+&-block{
            margin-right: 5px;
        }
        &-headblock {
            display: flex;
            flex-wrap: wrap;
            white-space: nowrap;
            // @media
        }

        &-img {
            flex: 0 0 2rem;
            height: 17px;
            width: 12px;
            object-fit: contain;
        }
    }
}