.reviews{
    padding-bottom: 4rem;
    background: no-repeat center 100% url('../../../imgs/main/reviews/background.webp');
    @media(max-width:1440.98px) {
        padding-bottom: calc(1.9rem + (4 - 1.9) * ((100vw - 20.061rem) / 80)) !important;
    }
    
    &__img{
        margin: 0 auto;
    }
}