.consultation {
    width: calc(9.313rem + (20.375 - 9.313) * ((100vw - 320.98px) / 880));
    height: calc(1.75rem + (3.938 - 1.75) * ((100vw - 320.98px) / 880));

    padding-bottom: calc(7px + (18 - 7) * ((100vw - 320.98px) / 880));
    padding-top: calc(7px + (18 - 7) * ((100vw - 320.98px) / 880));

    padding-left: calc(9px + (32 - 7) * ((100vw - 320.98px) / 880));
    padding-right: calc(9px + (32 - 7) * ((100vw - 320.98px) / 880));

    background: var(--green-color);
    color: #C4C4C4;
}