.banner{
    // background-image: url(../imgs/main/banner.webp);
    height: 565px;
    background-image: url(/imgs/main/banner.webp);
    background-repeat: no-repeat;
    // background-size: 100% 565px;

}