.banner{
    height: 35.313rem;
    background-image: url(/imgs/main/banner.webp);
    background-repeat: no-repeat;
    background-position: top;
    // background-size: cover;
    height: max-content;
    background-size: 100% 100%;
    padding-top: 8.375rem;
    padding-bottom: 8.375rem;
    @media(max-width:1440.98px){
        padding-top: calc(1.688rem + (8.375 - 1.688) * ((100vw - 20.061rem) / 80)) !important;
        padding-bottom: calc(1.688rem + (8.375 - 1.688) * ((100vw - 20.061rem) / 80)) !important;
    }
    &__subtitle{
        margin-top: 0.188rem;
    }
    &__btn{
        margin-top: 3.5rem;
        @media(max-width:1440.98px){
            margin-top: calc(0.813rem + (3.5 - 0.813) * ((100vw - 20.061rem) / 80)) !important;
            
        }
    }
}