.about {
    background-image: url("/public/imgs/main/background_crab.webp");
    background-size: 100% 100%;
    padding-bottom: 4rem;

    @media(max-width:1440.98px) {
        padding-bottom: calc(1.9rem + (4 - 1.9) * ((100vw - 20.061rem) / 80)) !important;
    }

    &__video {
        margin: 0 auto;
        height: 45rem;
        width: 80rem;
        @media(max-width:1440.98px) {
            height: calc(11rem + (45 - 15) * ((100vw - 20.061rem) / 80)) !important;
            width: calc(15rem + (80 - 15) * ((100vw - 20.061rem) / 80)) !important;
        }
        @media(max-width:768.98px){
            width: 100% !important;
        }
    }
}
.thumb{
    height: 100% !important;
}
.play{
    background: url(/public/imgs/main/about/play-circle.svg) !important;
    height: 8.8rem !important;
    width: 8.8rem !important;

    display: flex;
    align-items: center;
    justify-content: center;
    @media(max-width:1440.98px){
        left: calc(40% + (50 - 40) * ((100vw - 20.061rem) / 80)) !important;
        top: calc(35% + (40 - 35) * ((100vw - 20.061rem) / 80)) !important;
    }
    @media(max-width:768.98px){
        transform: scale(0.5) !important;
    }
}
#player{
    width: inherit !important;
    height: inherit !important;
}