.reviews {
    padding-bottom: 4rem;
    background: repeat center 100% url('/public/imgs/main/reviews/background.webp');
    &__container{
        padding: 0;
        @media(max-width:768.98px){
            padding: 0 1.25rem;
        }
    }
    @media(max-width:1440.98px) {
        padding-bottom: calc(1.9rem + (4 - 1.9) * ((100vw - 20.061rem) / 80)) !important;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width:1250.98px){
            flex-direction: column;
        }
    }
    &__img {
        margin-bottom: 1.5rem;
        @media(max-width:1250.98px) {
            width: calc(4.375rem + (8.375 - 4.375) * ((100vw - 20.061rem) / 80)) !important;
            height: calc(4.375rem + (8.375 - 4.375) * ((100vw - 20.061rem) / 80)) !important;
            margin-right: 1rem;
            margin-bottom: 0;
        }

    }
    &__item {
        max-width: 25.688rem;
        background-color: white;
        border: 0.063rem solid #CECECE;
        border-radius: 0.625rem;
        padding: 1.5rem 2rem 3.125rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media(max-width:1250.98px){
            padding-top: calc(0.875rem + (1.5 - 0.875) * ((100vw - 20.061rem) / 80)) !important;
            padding-right: calc(0.313rem + (2 - 0.313) * ((100vw - 20.061rem) / 80)) !important;
            padding-bottom: calc(0.875rem + (3.125 - 0.875) * ((100vw - 20.061rem) / 80)) !important;
            padding-left: calc(0.875rem + (2 - 0.875) * ((100vw - 20.061rem) / 80)) !important;
            margin-bottom: 1rem;
            flex-direction: unset;
            text-align: left;
            align-items: flex-start;
            max-width: 35rem;
        }

    }
    &__name{
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.02em;
        margin-bottom: 1.94rem;
        @media(max-width:1250.98px){
            font-size: calc(0.813rem + (1.5 - 0.813) * ((100vw - 20.061rem) / 80)) !important;
            line-height: calc(1.125rem + (2 - 1.125) * ((100vw - 20.061rem) / 80)) !important;
            margin-bottom: calc(0.313rem + (1.94 - 0.313) * ((100vw - 20.061rem) / 80)) !important;
        }
    }
    &__text{
        font-family: 'Notosans', sans-serif;
        font-size: 1.125rem;
        line-height: 1.563rem;
        letter-spacing: 0.02em;
        color: black;
        text-align: left;
        @media(max-width:1250.98px){
            font-size: calc(0.756rem + (1.125 - 0.756) * ((100vw - 20.061rem) / 80)) !important;
            line-height: calc(0.938rem + (1.563 - 1.125) * ((100vw - 20.061rem) / 80)) !important;
        }
    }
}